apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.releases.hashicorp.com
    chart: vault
    targetRevision: 0.29.0
    helm:
      values: |
        global:
          enabled: true
          tlsDisable: true

        server:
          ha:
            enabled: true
            replicas: 3
            raft:
              enabled: true
              setNodeId: true

            config: |
              seal "awskms" {
                region     = "{{ env `AWS_REGION` }}"
                kms_key_id = "{{ env `VAULT_AWSKMS_KEY_ID` }}"
              }

              listener "tcp" {
                address         = "[::]:8200"
                cluster_address = "[::]:8201"
                tls_disable     = 1
              }

              storage "raft" {
                path = "/vault/data"
              }

              service_registration "kubernetes" {}

          serviceAccount:
            create: false
            name: vault-kms

          extraEnvironmentVars:
            VAULT_SEAL_TYPE: "awskms"
            VAULT_AWSKMS_KEY_ID: "arn:aws:kms:ap-south-1:484907487964:key/5ad995a5-5b0f-4196-af6c-d8a8e3bba8c6"
            VAULT_AWSKMS_REGION: "ap-south-1"
            AWS_REGION: "ap-south-1"

          dataStorage:
            enabled: true
            size: 2Gi
            storageClass: vault-storage

        injector:
          enabled: true

  destination:
    server: https://kubernetes.default.svc
    namespace: vault

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
